DATABASE_URL="postgresql://username:password@localhost:5432/autopedicare" 

GENDERIZE_URL=https://api.genderize.io
AGIFY_URL=https://api.agify.io
NATIONALIZE_URL=https://api.nationalize.io

SECRET_KEY=9wieohn289nr2qnhr892rv92rn2m9ru298bye9jwd9dgh27829
ALGORITHM="HS256"
ACCESS_TOKEN_TIME=3
REFRESH_TOKEN_TIME=5

GITHUB_CLIENT_ID="github-client-id"
GITHUB_REDIRECT_URI="github-redirect-uri"
GITHUB_CLIENT_SECRET="github-client-secret"